<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 style="text-align: center;">Welcome to Codechef</h1>
    </div>
    <div>
        <form action="/Codechef/" method="POST">
            <label for="Difficulty">Difficulty : </label>
            <select name="Difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
                <option value="challenge">Challenge</option>
            </select>
            <button>Submit</button>
        </form>
    </div>

    <div>
        {% apply markdown_to_html %}
            {% for user in data %}
                <div>
                    {{ user.body|striptags('<code><p><br><br />')|markdown_to_html}}
                </div>
            {% endfor %}   
        {% endapply %} 
    </div>
    
    
</body>
</html>